/* ------------------------------------------
Display classes
 -------------------------------------------*/
.display-container {
	@extend .container;
	align-content: center;
	background-color: white;
	color: rgb(24, 206, 97);
	grid-template-columns: 4fr;
	height: $display-container-height;
	justify-items: end;
}
.display {
	// font-size: 4.5em;
	padding-right: 1em;
}

// Smaller screens
@media only screen and (max-width: 825px) {
	.display {
		font-size: 1.7em;
	}
}
// Larger screens and landscape
@media only screen and (min-width: 826px) {
	.display {
		font-size: 58px;
	}
}
