/* ------------------------------------------
Display classes
 -------------------------------------------*/
.display-container {
	@extend .container;
	align-content: center;
	background-color: white;
	color: rgb(24, 206, 97);
	grid-template-columns: 4fr;
	height: $display-container-height;
	justify-items: end;
}
.display {
	font-size: 4.5em;
	padding-right: 1.5rem;
}
