/* ------------------------------------------
Container classes, wrap button sections and display
 -------------------------------------------*/
.grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container {
	align-items: center;
	display: grid;
	justify-items: center;
	width: 100%;
}
.functions-container {
	@extend .container;
	grid-template-columns: auto auto auto;
	height: $function-container-height;
}
.buttons-container {
	@extend .container;
	grid-template-columns: auto auto auto auto;
	height: $button-container-height;
}

/* ------------------------------------------
 Button classes
 -------------------------------------------*/
.button {
	background-color: $light-gray;
	border: none;
	color: $dark-blue;
	cursor: pointer;
	font-family: "Lato", "Montserrat", sans-serif;
	font-weight: 700;
	height: $button-height;
	outline: none;
	transition: ease-out 0.1s;
	width: 100%;
}
.operator-button,
.function-button {
	@extend .button;
	color: $orange;
}

/* ------------------------------------------
Button press transition animation
 -------------------------------------------*/
.pulse {
	background-color: $dark-gray;
}

/* RESPONSIVE STYLING
----------------------------------------------------------------------- */
// Smaller screens
@media only screen and (max-width: 825px) {
	.button {
		font-size: 2.3em;
	}
}
// Larger screens and landscape
@media only screen and (min-width: 826px) {
	.button {
		font-size: 64px;
	}
}
