/* ------------------------------------------
Media Queries
 -------------------------------------------*/
//A single static size for tablet and larger screens to avoid a giant scaling calculator
@media all and (min-width: 768px) {
  $width: 400px;

  .container {
    width: $width;
  }
  .functions-container {
    height: $width / 4;
  }
  .buttons-container {
    height: $width;
  }
  .display-container {
    height: $width / 4;
  }
  .display {
    font-size: 36px;
  }
  .button {
    font-size: 50px;
    height: $width / 4;
    width: $width / 4;
  }
  .misc-button {
    width: $width / 3;
  }
  #equals {
    font-size: 80px;
  }
}
