//Colors:
$dark-blue: rgba(25, 67, 104, 0.947);
$dark-gray: rgb(179, 179, 179);
$light-gray: rgb(240, 240, 240);
$orange: rgb(255, 111, 0);

//Default Mobile-first layout/sizing:
$calc-width: 92vw;
$button-width: calc(92vw / 4); //4 buttons across
